@import "overlayscrollbars/overlayscrollbars.css";

@import "@adamosuiteservices/ui/styles.css";

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "@adamosuiteservices/ui/tailwind-theme.css";

/* Hide scrollbar for credit cards carousel */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
